@font-face {
    font-family: 'Satoshi';
    src: url('../Able_fonts/Satoshi-Black.woff2') format('woff2'),
        url('../Able_fonts/Satoshi-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Satoshi';
    src: url('../Able_fonts/Satoshi-Bold.woff2') format('woff2'),
        url('../Able_fonts/Satoshi-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Satoshi';
    src: url('../Able_fonts/Satoshi-Medium.woff2') format('woff2'),
        url('../Able_fonts/Satoshi-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../Able_fonts/Satoshi-Light.woff2') format('woff2'),
        url('../Able_fonts/Satoshi-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../Able_fonts/Satoshi-Regular.woff2') format('woff2'),
        url('../Able_fonts/Satoshi-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../Able_fonts/Graphik-Medium.woff2') format('woff2'),
        url('../Able_fonts/Graphik-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0
}

h1 {
    font-size: 54px;
    font-weight: 900;
    color: var(--heading--color);
}

h2 {
    font-size: 54px;
    font-weight: 900;
    color: var(--heading--color);
}

h3 {
    font-size: 36px;
}

body {
    font-family: 'Satoshi';
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.container-fluid {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 20px;
    width: 100%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 20px;
    width: 100%;
}

.small-container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.custom-button {
    display: inline-block;
    padding: 10px 8px;
    width: fit-content;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 10px;
    transition: .3s ease all;
    border: 1px solid transparent;
    text-decoration: none;
    background-color: var(--heading--color);
    color: white;
}

.custom-button:hover {
    border: 1px solid var(--heading--color);
    background-color: white;
    color: var(--heading--color);
}

.spacer {
    height: 80px;
    width: 100%;
}